<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="create-course content">
        <h2>Create a new course</h2>
        <form action="/create-course" method="POST">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
          <label for="credits">Credits:</label>
          <input type="number" id="credits" name="credits" required>
          <label for="description">Description:</label>
          <textarea id="description" name="description" required></textarea>
          <button type="submit" name="submitBtn">Create</button>
        </form>
        <h2>All Courses</h2>
        <ul>
          <% courses.forEach((course) => { %>
            <li><%= course.name %> - <%= course.credits %> credits</li>
          <% }); %>
        </ul>
      </div>

    <script>
        const form = document.querySelector('form');
        
        form.addEventListener('submit', (e) => {
          e.preventDefault();
          
          const name = document.getElementById('name').value;
          const credits = document.getElementById('credits').value;
          const description = document.getElementById('description').value;
          
          fetch('/create-course', {
            method: 'POST',
            body: JSON.stringify({name, credits, description}),
            headers: {
              'Content-Type': 'application/json'
            }
          })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });
    </script>
     <%- include('./partials/footer.ejs') %>
</body>
</html>
